<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Config>
    <appName>ShoppingSans</appName>
    <saveas>obj</saveas>
    <path>./src/main/java/com/shoppingsans/Datastore/</path>
    <plugins>
        <path>C:\Users\Matthew\Documents\Institut Teknologi Bandung\Semester 4\Object Oriented Programming\ShoppingSANS\plugins\Plugin1.jar</path>
    </plugins>
    <mapKurs>
        <entry>
            <key>EUR</key>
            <value>16000</value>
        </entry>
        <entry>
            <key>USD</key>
            <value>14000</value>
        </entry>
    </mapKurs>
    <kurs>
        <Entry>
            <key>USD</key>
            <value>14000</value>
        </Entry>
        <Entry>
            <key>EUR</key>
            <value>16000</value>
        </Entry>
    </kurs>
</Config>
