<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Config>
    <appName>ShoppingSans</appName>
    <saveas>xml</saveas>
    <path>./src/main/java/com/shoppingsans/Datastore/</path>
    <plugins>
    </plugins>
    <kurs>
        <Entry>
            <key>IDR</key>
            <value>1</value>
        </Entry>
    </kurs>
    <currentKurs>IDR</currentKurs>
</Config>
