<?xml version="1.0" encoding="UTF-8"?>

<config>
	<namaaplikasi>ShoppingSans</namaaplikasi>
	<matauang>IDR</matauang>
</config>
<User>
	<Customer>
		<id>1</id>
    </Customer>
	<Customer>
		<id>2</id>
	</Customer>
	<Member>
		<id>3</id>
		<nama>Mahentot</nama>
		<notelp>0822334455</notelp>
		<poin>100</poin>
		<isActive>true</isActive>
	</Member>
	<VIP>
		<id>4</id>
		<nama>Hentot</nama>
		<notelp>0833445566</notelp>
		<poin>100</poin>
		<isActive>true</isActive>
	</VIP>
</User>
<History>
	<FixedBill>
		<id>1</id>
		<idUser>1</idUser>
		<datetime>23-03-2023</datetime>
		<pembelian>
			<Key>Daging Jason</Key>
			<Value>1</Value>
		</pembelian>
	</FixedBill>
	<FixedBill>
		<id>2</id>
		<idUser>3</idUser>
		<datetime>23-03-2023</datetime>
		<pembelian>
			<Key>Daging Jason</Key>
			<Value>200</Value>
		</pembelian>
	</FixedBill>
</History>
<InventoryBarang>
	<Barang>
		<namaBarang>Daging Jason</namaBarang>
		<hargaBarang>100000</hargaBarang>
		<stokBarang>100</stokBarang>
		<hargaBeli>40000</hargaBeli>
		<kategori>Makanan</kategori>
		<gambar>image/jason.png</gambar>
	</Barang>
	<Barang>
		<namaBarang>Daging</namaBarang>
		<hargaBarang>100000</hargaBarang>
		<stokBarang>100</stokBarang>
		<hargaBeli>40000</hargaBeli>
		<kategori>Makanan</kategori>
		<gambar>image/jason.png</gambar>
	</Barang>
</InventoryBarang>
